/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    color: white;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  h1 {
    color: white;
    font-size: 5rem;
  }
  
  .kana-page {
    background-color: rgb(30, 18, 60);
  }
  
  .hiragana-page {
    background-color: rgb(100, 42, 143);
  }
  
  .katakana-page {
    background-color: rgb(30, 18, 60);
  }
  
  .menu {
    height: 10rem;
    width: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #learn-kana {
    margin-top: 10rem;
  }
  
  #sub-text {
    margin-bottom: 7rem;
  }
  
  #temp{
    margin-top: 20rem;
  }

  #time{
      font-size: 3rem;
  }